
h1{
    color:red;
}
p{
    color:navy;
   
}
.large-font{
    font-size: 50px;
    color:orange;
    font-style: italic;
    font-weight: lighter;
}

img{
    width: 400px;
    height: 400px;
    border:1px solid red;
   display: inline;
}